@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    scrollbar-width: none;
}
html, body {
    overflow-x: hidden;
}


.label {
    @apply flex-1 flex flex-col w-[400px] text-[#5C5E62] font-medium text-[14px] gap-2
}

.input {
    @apply bg-[#f4f4f4] w-full h-[40px] rounded px-2 outline-none focus:border
}

